In [2]:
import pandas as pd
import numpy as np
from numpy import mean
from numpy import std
import matplotlib.pyplot as plt
from sklearn.metrics import accuracy_score,classification_report,confusion_matrix
import seaborn as sns
from sklearn.model_selection import train_test_split
from sklearn.svm import SVC
from catboost import CatBoostClassifier
from sklearn import preprocessing
from sklearn.preprocessing import StandardScaler
from sklearn.model_selection import KFold
from sklearn.model_selection import cross_val_score
df = pd.read_csv('G:/New 20121 Dekstop Files/thesis 2021/employee attrition dataset/employee_attrition.csv')

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1470 entries, 0 to 1469
Data columns (total 35 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   Age                       1470 non-null   int64
 1   Attrition                 1470 non-null   object
 2   BusinessTravel            1470 non-null   object
 3   DailyRate                 1470 non-null   int64
 4   Department                1470 non-null   object
 5   DistanceFromHome          1470 non-null   int64
 6   Education                 1470 non-null   int64
 7   EducationField            1470 non-null   object
 8   EmployeeCount             1470 non-null   int64
 9   EmployeeNumber            1470 non-null   int64
 10  EnvironmentSatisfaction   1470 non-null   int64
 11  Gender                    1470 non-null   object
 12  HourlyRate                1470 non-null   int64
 13  JobInvolvement            1470 non-null   int64
 14  JobLevel                  1470 non-null   int64
 15  JobRole                   1470 non-null   object
 16  JobSatisfaction           1470 non-null   int64
 17  MaritalStatus             1470 non-null   object
 18  MonthlyIncome             1470 non-null   int64
 19  MonthlyRate               1470 non-null   int64
 20  NumCompaniesWorked        1470 non-null   int64
 21  Over18                    1470 non-null   object
 22  OverTime                  1470 non-null   object
 23  PercentSalaryHike         1470 non-null   int64
 24  PerformanceRating         1470 non-null   int64
 25  RelationshipSatisfaction  1470 non-null   int64
 26  StandardHours             1470 non-null   int64
 27  StockOptionLevel          1470 non-null   int64
 28  TotalWorkingYears         1470 non-null   int64
 29  TrainingTimesLastYear     1470 non-null   int64
 30  WorkLifeBalance           1470 non-null   int64
 31  YearsAtCompany            1470 non-null   int64
 32  YearsInCurrentRole        1470 non-null   int64
 33  YearsSinceLastPromotion   1470 non-null   int64
 34  YearsWithCurrManager      1470 non-null   int64
dtypes: int64(26), object(9)
memory usage: 402.1+ KB

In [4]:
df.values.reshape(-1,1)

array([[41],
       ['Yes'],
       ['Travel_Rarely'],
       ...,
       [3],
       [1],
       [2]], dtype=object)

In [5]:
df.head()

,Age,Attrition,BusinessTravel,DailyRate,Department,DistanceFromHome,Education,EducationField,EmployeeCount,EmployeeNumber,...,RelationshipSatisfaction,StandardHours,StockOptionLevel,TotalWorkingYears,TrainingTimesLastYear,WorkLifeBalance,YearsAtCompany,YearsInCurrentRole,YearsSinceLastPromotion,YearsWithCurrManager
0,41,Yes,Travel_Rarely,1102,Sales,1,2,Life Sciences,1,1,...,1,80,0,8,0,1,6,4,0,5
1,49,No,Travel_Frequently,279,Research & Development,8,1,Life Sciences,1,2,...,4,80,1,10,3,3,10,7,1,7
2,37,Yes,Travel_Rarely,1373,Research & Development,2,2,Other,1,4,...,2,80,0,7,3,3,0,0,0,0
3,33,No,Travel_Frequently,1392,Research & Development,3,4,Life Sciences,1,5,...,3,80,0,8,3,3,8,7,3,0
4,27,No,Travel_Rarely,591,Research & Development,2,1,Medical,1,7,...,4,80,1,6,3,3,2,2,2,2

# Column Value Replace

In [6]:
df['Attrition'].replace({'Yes':1,'No':0},inplace = True)

In [7]:
df['Attrition'].value_counts()

0    1233
1     237
Name: Attrition, dtype: int64

In [8]:
df.isnull().sum()

Age                         0
Attrition                   0
BusinessTravel              0
DailyRate                   0
Department                  0
DistanceFromHome            0
Education                   0
EducationField              0
EmployeeCount               0
EmployeeNumber              0
EnvironmentSatisfaction     0
Gender                      0
HourlyRate                  0
JobInvolvement              0
JobLevel                    0
JobRole                     0
JobSatisfaction             0
MaritalStatus               0
MonthlyIncome               0
MonthlyRate                 0
NumCompaniesWorked          0
Over18                      0
OverTime                    0
PercentSalaryHike           0
PerformanceRating           0
RelationshipSatisfaction    0
StandardHours               0
StockOptionLevel            0
TotalWorkingYears           0
TrainingTimesLastYear       0
WorkLifeBalance             0
YearsAtCompany              0
YearsInCurrentRole          0
YearsSinceLastPromotion     0
YearsWithCurrManager        0
dtype: int64

# Data Preprocessing

In [9]:
cat_df = df.select_dtypes(include=['object']).copy()
cat_df

,BusinessTravel,Department,EducationField,Gender,JobRole,MaritalStatus,Over18,OverTime
0,Travel_Rarely,Sales,Life Sciences,Female,Sales Executive,Single,Y,Yes
1,Travel_Frequently,Research & Development,Life Sciences,Male,Research Scientist,Married,Y,No
2,Travel_Rarely,Research & Development,Other,Male,Laboratory Technician,Single,Y,Yes
3,Travel_Frequently,Research & Development,Life Sciences,Female,Research Scientist,Married,Y,Yes
4,Travel_Rarely,Research & Development,Medical,Male,Laboratory Technician,Married,Y,No
...,...,...,...,...,...,...,...,...
1465,Travel_Frequently,Research & Development,Medical,Male,Laboratory Technician,Married,Y,No
1466,Travel_Rarely,Research & Development,Medical,Male,Healthcare Representative,Married,Y,No
1467,Travel_Rarely,Research & Development,Life Sciences,Male,Manufacturing Director,Married,Y,Yes
1468,Travel_Frequently,Sales,Medical,Male,Sales Executive,Married,Y,No
1469,Travel_Rarely,Research & Development,Medical,Male,Laboratory Technician,Married,Y,No

# Label Encoding

In [10]:
label_encoder =  preprocessing.LabelEncoder()
df['BusinessTravel'] = label_encoder.fit_transform(df['BusinessTravel'])
df['Department'] = label_encoder.fit_transform(df['Department'])
df['EducationField'] = label_encoder.fit_transform(df['EducationField'])
df['Gender'] = label_encoder.fit_transform(df['Gender'])
df['JobRole'] = label_encoder.fit_transform(df['JobRole'])
df['MaritalStatus'] = label_encoder.fit_transform(df['MaritalStatus'])
df['Over18'] = label_encoder.fit_transform(df['Over18'])
df['OverTime'] = label_encoder.fit_transform(df['OverTime'])

In [11]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1470 entries, 0 to 1469
Data columns (total 35 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   Age                       1470 non-null   int64
 1   Attrition                 1470 non-null   int64
 2   BusinessTravel            1470 non-null   int32
 3   DailyRate                 1470 non-null   int64
 4   Department                1470 non-null   int32
 5   DistanceFromHome          1470 non-null   int64
 6   Education                 1470 non-null   int64
 7   EducationField            1470 non-null   int32
 8   EmployeeCount             1470 non-null   int64
 9   EmployeeNumber            1470 non-null   int64
 10  EnvironmentSatisfaction   1470 non-null   int64
 11  Gender                    1470 non-null   int32
 12  HourlyRate                1470 non-null   int64
 13  JobInvolvement            1470 non-null   int64
 14  JobLevel                  1470 non-null   int64
 15  JobRole                   1470 non-null   int32
 16  JobSatisfaction           1470 non-null   int64
 17  MaritalStatus             1470 non-null   int32
 18  MonthlyIncome             1470 non-null   int64
 19  MonthlyRate               1470 non-null   int64
 20  NumCompaniesWorked        1470 non-null   int64
 21  Over18                    1470 non-null   int32
 22  OverTime                  1470 non-null   int32
 23  PercentSalaryHike         1470 non-null   int64
 24  PerformanceRating         1470 non-null   int64
 25  RelationshipSatisfaction  1470 non-null   int64
 26  StandardHours             1470 non-null   int64
 27  StockOptionLevel          1470 non-null   int64
 28  TotalWorkingYears         1470 non-null   int64
 29  TrainingTimesLastYear     1470 non-null   int64
 30  WorkLifeBalance           1470 non-null   int64
 31  YearsAtCompany            1470 non-null   int64
 32  YearsInCurrentRole        1470 non-null   int64
 33  YearsSinceLastPromotion   1470 non-null   int64
 34  YearsWithCurrManager      1470 non-null   int64
dtypes: int32(8), int64(27)
memory usage: 356.1 KB

# Split target and input variable

In [12]:
x = df.drop(['Attrition'],axis = 1)

In [13]:
y = df['Attrition']

In [14]:
seed = 4
xtrain,xtest,ytrain,ytest = train_test_split(x,y,test_size=.2,random_state=4 )

In [15]:
df.describe()

,Age,Attrition,BusinessTravel,DailyRate,Department,DistanceFromHome,Education,EducationField,EmployeeCount,EmployeeNumber,...,RelationshipSatisfaction,StandardHours,StockOptionLevel,TotalWorkingYears,TrainingTimesLastYear,WorkLifeBalance,YearsAtCompany,YearsInCurrentRole,YearsSinceLastPromotion,YearsWithCurrManager
count,1470.000000,1470.000000,1470.000000,1470.000000,1470.000000,1470.000000,1470.000000,1470.000000,1470.0,1470.000000,...,1470.000000,1470.0,1470.000000,1470.000000,1470.000000,1470.000000,1470.000000,1470.000000,1470.000000,1470.000000
mean,36.923810,0.161224,1.607483,802.485714,1.260544,9.192517,2.912925,2.247619,1.0,1024.865306,...,2.712245,80.0,0.793878,11.279592,2.799320,2.761224,7.008163,4.229252,2.187755,4.123129
std,9.135373,0.367863,0.665455,403.509100,0.527792,8.106864,1.024165,1.331369,0.0,602.024335,...,1.081209,0.0,0.852077,7.780782,1.289271,0.706476,6.126525,3.623137,3.222430,3.568136
min,18.000000,0.000000,0.000000,102.000000,0.000000,1.000000,1.000000,0.000000,1.0,1.000000,...,1.000000,80.0,0.000000,0.000000,0.000000,1.000000,0.000000,0.000000,0.000000,0.000000
25%,30.000000,0.000000,1.000000,465.000000,1.000000,2.000000,2.000000,1.000000,1.0,491.250000,...,2.000000,80.0,0.000000,6.000000,2.000000,2.000000,3.000000,2.000000,0.000000,2.000000
50%,36.000000,0.000000,2.000000,802.000000,1.000000,7.000000,3.000000,2.000000,1.0,1020.500000,...,3.000000,80.0,1.000000,10.000000,3.000000,3.000000,5.000000,3.000000,1.000000,3.000000
75%,43.000000,0.000000,2.000000,1157.000000,2.000000,14.000000,4.000000,3.000000,1.0,1555.750000,...,4.000000,80.0,1.000000,15.000000,3.000000,3.000000,9.000000,7.000000,3.000000,7.000000
max,60.000000,1.000000,2.000000,1499.000000,2.000000,29.000000,5.000000,5.000000,1.0,2068.000000,...,4.000000,80.0,3.000000,40.000000,6.000000,4.000000,40.000000,18.000000,15.000000,17.000000

# Feature Scaling or Standardization

In [16]:
# std_scalar = StandardScaler()
# xtrain_std = xtrain.copy()
# xtest_std = xtest.copy()
# # numerical features
# num_cols = ['DistanceFromHome','DailyRate','EmployeeNumber','HourlyRate','TotalWorkingYears']
# # apply standardization on numerical features
# for i in num_cols:
    
#     # fit on training data column
#     scale = StandardScaler().fit(xtrain_std[[i]])
    
#     # transform the training data column
#     xtrain_std[i] = scale.transform(xtrain_std[[i]])
    
#     # transform the testing data column
#     xtest_std[i] = scale.transform(xtest_std[[i]])

In [27]:
# xtrain_std.describe()

# Min Max Scalar

In [18]:
cols_to_scale = ['Age','DailyRate','DistanceFromHome','EnvironmentSatisfaction','HourlyRate','JobInvolvement','JobLevel','JobSatisfaction','MonthlyIncome','MonthlyRate','NumCompaniesWorked','PercentSalaryHike','PerformanceRating','RelationshipSatisfaction','StandardHours','StockOptionLevel','TotalWorkingYears','TrainingTimesLastYear','WorkLifeBalance','YearsAtCompany','YearsInCurrentRole','YearsSinceLastPromotion','YearsWithCurrManager']

from sklearn.preprocessing import MinMaxScaler
scaler = MinMaxScaler()
df[cols_to_scale] = scaler.fit_transform(df[cols_to_scale])

# Random Forest Classifier

In [19]:
from sklearn.ensemble import RandomForestClassifier
rnf = RandomForestClassifier(n_estimators=115, random_state=50)

In [20]:
rnf.fit(xtrain,ytrain)

RandomForestClassifier(n_estimators=115, random_state=50)

In [21]:
# Accuracy on Training 
predictions_train = rnf.predict(xtrain)
print("\nTraining Accuracy : ", accuracy_score(ytrain,predictions_train))
# Accuracy on Testing
predictions_test = rnf.predict(xtest)
print("\nTesting Accuracy : ", accuracy_score(ytest,predictions_test))

print(classification_report(ytest,predictions_test))

Training Accuracy :  1.0

Testing Accuracy :  0.8741496598639455
              precision    recall  f1-score   support

           0       0.88      0.99      0.93       251
           1       0.80      0.19      0.30        43

    accuracy                           0.87       294
   macro avg       0.84      0.59      0.62       294
weighted avg       0.87      0.87      0.84       294

# Catboost

In [22]:
# find out the indices of categorical variables
categorical_var = np.where(xtrain.dtypes != np.float)[0]
print('\nCategorical Variables indices : ',categorical_var)

print('\n Training CatBoost Model..........')

Categorical Variables indices :  [ 0  1  2  3  4  5  6  7  8  9 10 11 12 13 14 15 16 17 18 19 20 21 22 23
 24 25 26 27 28 29 30 31 32 33]

 Training CatBoost Model..........

In [23]:
catmodel = CatBoostClassifier(iterations=100)
catmodel.fit(xtrain,ytrain,cat_features = categorical_var,plot=False)

Learning rate set to 0.091201
0:	learn: 0.6463267	total: 153ms	remaining: 15.2s
1:	learn: 0.6084738	total: 170ms	remaining: 8.35s
2:	learn: 0.5779296	total: 181ms	remaining: 5.84s
3:	learn: 0.5364731	total: 229ms	remaining: 5.5s
4:	learn: 0.5092419	total: 276ms	remaining: 5.24s
5:	learn: 0.4784701	total: 331ms	remaining: 5.19s
6:	learn: 0.4590205	total: 389ms	remaining: 5.16s
7:	learn: 0.4501799	total: 400ms	remaining: 4.6s
8:	learn: 0.4381227	total: 444ms	remaining: 4.49s
9:	learn: 0.4269774	total: 502ms	remaining: 4.52s
10:	learn: 0.4134711	total: 550ms	remaining: 4.45s
11:	learn: 0.4021283	total: 615ms	remaining: 4.51s
12:	learn: 0.3940548	total: 658ms	remaining: 4.4s
13:	learn: 0.3873769	total: 704ms	remaining: 4.32s
14:	learn: 0.3830201	total: 737ms	remaining: 4.18s
15:	learn: 0.3725291	total: 786ms	remaining: 4.12s
16:	learn: 0.3620000	total: 834ms	remaining: 4.07s
17:	learn: 0.3559355	total: 882ms	remaining: 4.02s
18:	learn: 0.3536795	total: 932ms	remaining: 3.97s
19:	learn: 0.3490267	total: 981ms	remaining: 3.92s
20:	learn: 0.3424262	total: 1.02s	remaining: 3.85s
21:	learn: 0.3401371	total: 1.08s	remaining: 3.83s
22:	learn: 0.3350317	total: 1.12s	remaining: 3.75s
23:	learn: 0.3303203	total: 1.17s	remaining: 3.7s
24:	learn: 0.3265708	total: 1.22s	remaining: 3.66s
25:	learn: 0.3204070	total: 1.26s	remaining: 3.59s
26:	learn: 0.3174662	total: 1.31s	remaining: 3.55s
27:	learn: 0.3126111	total: 1.36s	remaining: 3.5s
28:	learn: 0.3092419	total: 1.4s	remaining: 3.42s
29:	learn: 0.3049792	total: 1.45s	remaining: 3.39s
30:	learn: 0.3049770	total: 1.48s	remaining: 3.29s
31:	learn: 0.3012273	total: 1.53s	remaining: 3.25s
32:	learn: 0.2995916	total: 1.58s	remaining: 3.2s
33:	learn: 0.2966370	total: 1.64s	remaining: 3.19s
34:	learn: 0.2941915	total: 1.69s	remaining: 3.14s
35:	learn: 0.2899606	total: 1.74s	remaining: 3.08s
36:	learn: 0.2854125	total: 1.78s	remaining: 3.04s
37:	learn: 0.2816169	total: 1.85s	remaining: 3.01s
38:	learn: 0.2795613	total: 1.89s	remaining: 2.96s
39:	learn: 0.2770315	total: 1.95s	remaining: 2.93s
40:	learn: 0.2742611	total: 2.01s	remaining: 2.89s
41:	learn: 0.2722175	total: 2.08s	remaining: 2.87s
42:	learn: 0.2709822	total: 2.14s	remaining: 2.83s
43:	learn: 0.2681965	total: 2.19s	remaining: 2.79s
44:	learn: 0.2655728	total: 2.25s	remaining: 2.75s
45:	learn: 0.2644589	total: 2.3s	remaining: 2.7s
46:	learn: 0.2624107	total: 2.35s	remaining: 2.65s
47:	learn: 0.2604201	total: 2.39s	remaining: 2.59s
48:	learn: 0.2577016	total: 2.44s	remaining: 2.54s
49:	learn: 0.2548801	total: 2.51s	remaining: 2.51s
50:	learn: 0.2545265	total: 2.53s	remaining: 2.43s
51:	learn: 0.2529263	total: 2.61s	remaining: 2.41s
52:	learn: 0.2511042	total: 2.66s	remaining: 2.36s
53:	learn: 0.2499331	total: 2.72s	remaining: 2.32s
54:	learn: 0.2486322	total: 2.77s	remaining: 2.26s
55:	learn: 0.2463415	total: 2.83s	remaining: 2.23s
56:	learn: 0.2438618	total: 2.88s	remaining: 2.17s
57:	learn: 0.2416002	total: 2.92s	remaining: 2.12s
58:	learn: 0.2399633	total: 2.97s	remaining: 2.06s
59:	learn: 0.2377782	total: 3.02s	remaining: 2.01s
60:	learn: 0.2342069	total: 3.06s	remaining: 1.96s
61:	learn: 0.2317028	total: 3.11s	remaining: 1.91s
62:	learn: 0.2292566	total: 3.15s	remaining: 1.85s
63:	learn: 0.2277854	total: 3.2s	remaining: 1.8s
64:	learn: 0.2254545	total: 3.27s	remaining: 1.76s
65:	learn: 0.2234502	total: 3.32s	remaining: 1.71s
66:	learn: 0.2225870	total: 3.38s	remaining: 1.66s
67:	learn: 0.2221451	total: 3.44s	remaining: 1.62s
68:	learn: 0.2213530	total: 3.5s	remaining: 1.57s
69:	learn: 0.2185974	total: 3.55s	remaining: 1.52s
70:	learn: 0.2175825	total: 3.62s	remaining: 1.48s
71:	learn: 0.2144469	total: 3.68s	remaining: 1.43s
72:	learn: 0.2120082	total: 3.72s	remaining: 1.38s
73:	learn: 0.2099172	total: 3.77s	remaining: 1.32s
74:	learn: 0.2082235	total: 3.83s	remaining: 1.27s
75:	learn: 0.2060842	total: 3.88s	remaining: 1.23s
76:	learn: 0.2045491	total: 3.93s	remaining: 1.18s
77:	learn: 0.2032783	total: 3.99s	remaining: 1.13s
78:	learn: 0.2027450	total: 4.05s	remaining: 1.08s
79:	learn: 0.2015711	total: 4.11s	remaining: 1.03s
80:	learn: 0.1996972	total: 4.16s	remaining: 975ms
81:	learn: 0.1984902	total: 4.2s	remaining: 923ms
82:	learn: 0.1980808	total: 4.25s	remaining: 871ms
83:	learn: 0.1956463	total: 4.3s	remaining: 819ms
84:	learn: 0.1954386	total: 4.34s	remaining: 766ms
85:	learn: 0.1954334	total: 4.36s	remaining: 709ms
86:	learn: 0.1952596	total: 4.42s	remaining: 661ms
87:	learn: 0.1950704	total: 4.49s	remaining: 612ms
88:	learn: 0.1940082	total: 4.53s	remaining: 560ms
89:	learn: 0.1936278	total: 4.61s	remaining: 512ms
90:	learn: 0.1918032	total: 4.64s	remaining: 459ms
91:	learn: 0.1915744	total: 4.7s	remaining: 409ms
92:	learn: 0.1899702	total: 4.75s	remaining: 358ms
93:	learn: 0.1896997	total: 4.82s	remaining: 307ms
94:	learn: 0.1891559	total: 4.87s	remaining: 256ms
95:	learn: 0.1880727	total: 4.92s	remaining: 205ms
96:	learn: 0.1879762	total: 4.98s	remaining: 154ms
97:	learn: 0.1867429	total: 5.05s	remaining: 103ms
98:	learn: 0.1855908	total: 5.13s	remaining: 51.8ms
99:	learn: 0.1854932	total: 5.19s	remaining: 0us

In [25]:
# Accuracy on Training 
predictions_train = catmodel.predict(xtrain)
print("\nTraining Accuracy : ", accuracy_score(ytrain,predictions_train))
# Accuracy on Testing
predictions_test = catmodel.predict(xtest)
print("\nTesting Accuracy : ", accuracy_score(ytest,predictions_test))

print(classification_report(ytest,predictions_test))

Training Accuracy :  0.8954081632653061

Testing Accuracy :  0.8809523809523809
              precision    recall  f1-score   support

           0       0.88      0.99      0.93       251
           1       0.83      0.23      0.36        43

    accuracy                           0.88       294
   macro avg       0.86      0.61      0.65       294
weighted avg       0.88      0.88      0.85       294

# XG Boost

In [26]:
from xgboost import XGBClassifier
from sklearn.model_selection import RepeatedStratifiedKFold
classifier=XGBClassifier()
classifier.fit(xtrain,ytrain)
predictions_train =classifier.predict(xtrain)
acc=accuracy_score(ytrain, predictions_train)
print('\nTraining Accuracy :', acc)
predictions_test = classifier.predict(xtest)
accc=accuracy_score(ytest, predictions_test)
print('\nTesting Accuracy :', accc)

# define the evaluation method
print('\nRepeated 5-Folds Cross-Validation for Model Evaluation :\n')
cv = RepeatedStratifiedKFold(n_splits = 5, n_repeats=3, random_state=1)
# evaluate the model on the dataset
n_scores = cross_val_score(classifier, x, y, scoring='accuracy', cv=cv, n_jobs=-1)
# report performance
print('Mean Accuracy: %.3f (%.3f)' % (mean(n_scores), std(n_scores)))

F:\New_Anaconda_Inst_Loc\lib\site-packages\xgboost\sklearn.py:1146: UserWarning: The use of label encoder in XGBClassifier is deprecated and will be removed in a future release. To remove this warning, do the following: 1) Pass option use_label_encoder=False when constructing XGBClassifier object; and 2) Encode your labels (y) as integers starting with 0, i.e. 0, 1, 2, ..., [num_class - 1].
  warnings.warn(label_encoder_deprecation_msg, UserWarning)

[09:13:12] WARNING: C:/Users/Administrator/workspace/xgboost-win64_release_1.4.0/src/learner.cc:1095: Starting in XGBoost 1.3.0, the default evaluation metric used with the objective 'binary:logistic' was changed from 'error' to 'logloss'. Explicitly set eval_metric if you'd like to restore the old behavior.

Training Accuracy : 1.0

Testing Accuracy : 0.8707482993197279

Repeated 5-Folds Cross-Validation for Model Evaluation :

Mean Accuracy: 0.863 (0.010)