In [199]:
import tensorflow as tf
from tensorflow import keras
from tensorflow.keras import Sequential
from tensorflow.keras.layers import Flatten,Dense,Dropout,BatchNormalization
from tensorflow.keras.layers import Conv1D,MaxPool1D
from tensorflow.keras.optimizers import Adam

In [200]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
from sklearn import preprocessing

In [201]:
data= pd.read_csv("G:/Datasets/Dataset_for_Classification.csv")
data.head()

,Age,Attrition,BusinessTravel,DailyRate,Department,DistanceFromHome,Education,EducationField,EmployeeCount,EmployeeNumber,...,PerformanceRating,RelationshipSatisfaction,StockOptionLevel,TotalWorkingYears,TrainingTimesLastYear,WorkLifeBalance,YearsAtCompany,YearsInCurrentRole,YearsSinceLastPromotion,YearsWithCurrManager
0,41,Yes,Travel_Rarely,1102,Sales,1,2,Life Sciences,1,1,...,3,1,0,8,0,1,6,4,0,5
1,49,No,Travel_Frequently,279,Research & Development,8,1,Life Sciences,1,2,...,4,4,1,10,3,3,10,7,1,7
2,37,Yes,Travel_Rarely,1373,Research & Development,2,2,Other,1,4,...,3,2,0,7,3,3,0,0,0,0
3,33,No,Travel_Frequently,1392,Research & Development,3,4,Life Sciences,1,5,...,3,3,0,8,3,3,8,7,3,0
4,27,No,Travel_Rarely,591,Research & Development,2,1,Medical,1,7,...,3,4,1,6,3,3,2,2,2,2

In [202]:
label_encoder =  preprocessing.LabelEncoder()
data['BusinessTravel'] = label_encoder.fit_transform(data['BusinessTravel'])
data['Attrition'] = label_encoder.fit_transform(data['Attrition'])
data['Department'] = label_encoder.fit_transform(data['Department'])
data['EducationField'] = label_encoder.fit_transform(data['EducationField'])
data['Gender'] = label_encoder.fit_transform(data['Gender'])
data['JobRole'] = label_encoder.fit_transform(data['JobRole'])
data['MaritalStatus'] = label_encoder.fit_transform(data['MaritalStatus'])
data['OverTime'] = label_encoder.fit_transform(data['OverTime'])

In [203]:
data.head()

,Age,Attrition,BusinessTravel,DailyRate,Department,DistanceFromHome,Education,EducationField,EmployeeCount,EmployeeNumber,...,PerformanceRating,RelationshipSatisfaction,StockOptionLevel,TotalWorkingYears,TrainingTimesLastYear,WorkLifeBalance,YearsAtCompany,YearsInCurrentRole,YearsSinceLastPromotion,YearsWithCurrManager
0,41,1,2,1102,2,1,2,1,1,1,...,3,1,0,8,0,1,6,4,0,5
1,49,0,1,279,1,8,1,1,1,2,...,4,4,1,10,3,3,10,7,1,7
2,37,1,2,1373,1,2,2,4,1,4,...,3,2,0,7,3,3,0,0,0,0
3,33,0,1,1392,1,3,4,1,1,5,...,3,3,0,8,3,3,8,7,3,0
4,27,0,2,591,1,2,1,3,1,7,...,3,4,1,6,3,3,2,2,2,2

In [204]:
target = data['Attrition']
print(pd.value_counts(target))

0    1233
1     237
Name: Attrition, dtype: int64

In [205]:
non_Attrition=data[data['Attrition']==0]
Attrition=data[data['Attrition']==1]

In [206]:
non_Attrition.shape

(1233, 33)

In [207]:
Attrition.shape

(237, 33)

In [208]:
non_Attrition=non_Attrition.sample(Attrition.shape[0])
non_Attrition.shape

(237, 33)

In [209]:
data=Attrition.append(non_Attrition,ignore_index=True)
data

,Age,Attrition,BusinessTravel,DailyRate,Department,DistanceFromHome,Education,EducationField,EmployeeCount,EmployeeNumber,...,PerformanceRating,RelationshipSatisfaction,StockOptionLevel,TotalWorkingYears,TrainingTimesLastYear,WorkLifeBalance,YearsAtCompany,YearsInCurrentRole,YearsSinceLastPromotion,YearsWithCurrManager
0,41,1,2,1102,2,1,2,1,1,1,...,3,1,0,8,0,1,6,4,0,5
1,37,1,2,1373,1,2,2,4,1,4,...,3,2,0,7,3,3,0,0,0,0
2,28,1,2,103,1,24,3,1,1,19,...,3,2,0,6,4,3,4,2,0,3
3,36,1,2,1218,2,9,4,1,1,27,...,4,2,0,10,4,3,5,3,0,3
4,34,1,2,699,1,6,1,3,1,31,...,3,3,0,8,2,3,4,2,1,3
5,32,1,1,1125,1,16,1,1,1,33,...,4,2,0,10,5,3,10,2,6,7
6,39,1,2,895,2,5,3,5,1,42,...,3,3,1,19,6,4,1,0,0,0
7,24,1,2,813,1,1,3,3,1,45,...,3,1,1,6,2,2,2,0,2,0
8,50,1,2,869,2,3,2,2,1,47,...,3,3,0,3,2,3,3,2,0,2
9,26,1,2,1357,1,25,3,1,1,55,...,3,3,0,1,2,2,1,0,0,1
10,41,1,2,1360,1,12,3,5,1,58,...,3,4,0,23,0,3,22,15,15,8
11,48,1,2,626,1,1,2,1,1,64,...,3,4,0,23,2,3,1,0,0,0
12,28,1,2,1434,1,5,4,5,1,65,...,3,3,0,2,3,2,2,2,2,2
13,36,1,2,318,1,9,3,3,1,90,...,3,1,1,2,0,2,1,0,0,0
14,46,1,2,669,2,9,2,3,1,118,...,3,4,0,9,3,3,9,8,4,7
15,37,1,2,807,0,6,4,0,1,133,...,4,4,0,7,3,3,3,2,0,2
16,20,1,1,871,1,6,3,1,1,137,...,3,2,0,1,5,3,1,0,1,0
17,25,1,2,240,2,5,3,2,1,142,...,3,4,0,6,1,3,6,4,0,3
18,34,1,1,658,1,7,3,1,1,147,...,4,4,0,9,3,3,9,7,0,6
19,56,1,2,441,1,14,4,1,1,161,...,3,1,3,7,2,3,5,4,4,3
20,31,1,2,249,2,6,4,1,1,163,...,3,2,0,12,3,2,7,7,7,7
21,58,1,2,147,1,23,4,3,1,165,...,3,4,1,40,3,2,40,10,15,6
22,19,1,2,528,2,22,1,2,1,167,...,3,4,0,0,2,2,0,0,0,0
23,31,1,2,542,2,20,3,1,1,175,...,3,3,1,4,2,3,2,2,2,2
24,51,1,1,1150,1,8,4,1,1,179,...,3,4,0,18,2,3,4,2,0,3
25,32,1,2,1033,1,9,3,3,1,190,...,4,1,0,10,2,4,5,4,0,4
26,19,1,1,602,2,1,1,5,1,235,...,4,1,0,1,5,4,0,0,0,0
27,19,1,2,303,1,2,3,1,1,243,...,4,3,0,1,3,2,1,0,1,0
28,41,1,2,1356,2,20,2,2,1,248,...,4,4,0,4,5,2,4,3,0,2
29,35,1,2,556,1,23,2,1,1,261,...,3,1,0,8,1,3,1,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
444,41,0,2,1411,1,19,2,1,1,334,...,3,1,2,17,2,2,1,0,0,0
445,32,0,2,498,1,3,4,3,1,966,...,3,3,1,8,2,4,8,7,6,3
446,37,0,2,228,2,6,4,3,1,378,...,3,2,1,7,5,4,5,4,0,1
447,38,0,1,216,1,23,3,1,1,12,...,4,2,0,10,2,3,9,7,1,8
448,32,0,2,1093,2,6,4,3,1,125,...,3,1,0,12,0,3,11,8,5,7
449,45,0,1,364,1,25,3,3,1,1306,...,4,3,0,22,4,3,0,0,0,0
450,26,0,2,157,1,1,3,3,1,1952,...,3,4,0,8,6,2,7,7,7,6
451,34,0,2,704,2,28,3,2,1,2035,...,4,4,2,8,2,3,8,7,1,7
452,53,0,2,1436,2,6,2,2,1,205,...,4,4,1,13,3,1,7,7,4,5
453,30,0,2,413,2,7,1,2,1,585,...,3,1,0,4,3,3,3,2,1,2
454,37,0,2,671,1,19,3,1,1,1631,...,3,1,3,9,2,2,4,3,0,2
455,37,0,2,482,1,3,3,4,1,689,...,3,3,1,10,2,3,10,7,7,8
456,38,0,2,437,2,16,3,1,1,1583,...,3,2,0,8,5,4,3,2,1,2
457,35,0,2,1395,1,9,4,3,1,2008,...,3,2,0,10,5,3,10,7,0,8
458,38,0,1,1394,1,8,3,3,1,1937,...,3,3,1,20,3,3,20,11,0,7
459,38,0,2,130,2,2,2,2,1,1125,...,3,3,0,10,2,3,1,0,0,0
460,31,0,2,182,1,8,5,1,1,1430,...,3,3,0,9,3,4,3,2,1,0
461,34,0,2,735,2,3,1,3,1,1915,...,3,3,0,9,3,2,4,2,0,1
462,22,0,2,1230,1,1,2,1,1,872,...,4,1,2,4,2,1,2,2,2,2
463,48,0,2,1221,2,7,3,2,1,1466,...,3,1,3,15,3,3,2,2,2,2
464,35,0,2,755,1,9,4,1,1,496,...,3,3,0,10,5,3,1,1,0,0
465,24,0,1,567,1,2,1,5,1,1646,...,3,3,0,6,2,3,6,3,1,3
466,58,0,0,350,2,2,3,3,1,1824,...,4,4,1,37,0,2,16,9,14,14
467,34,0,2,401,1,1,3,1,1,1447,...,3,1,1,7,2,2,5,4,0,2
468,36,0,0,301,2,15,4,2,1,2036,...,4,1,1,15,4,2,15,12,11,11
469,27,0,1,793,2,2,1,1,1,1371,...,4,2,0,8,3,3,6,2,0,0
470,28,0,2,440,1,21,3,3,1,221,...,3,3,1,5,2,1,5,2,0,2
471,23,0,2,160,1,4,1,3,1,1735,...,3,3,0,3,3,1,3,2,1,2
472,24,0,2,1371,2,10,4,2,1,507,...,3,4,1,5,2,4,5,2,0,3
473,56,0,2,713,1,8,3,1,1,241,...,3,3,1,19,3,3,2,2,2,2

In [210]:
target = data['Attrition']
print(pd.value_counts(target))

1    237
0    237
Name: Attrition, dtype: int64

In [211]:
x=data.drop('Attrition',axis=1)
y=data['Attrition']

In [212]:
x.shape

(474, 32)

In [213]:
x_train, x_test, y_train, y_test = train_test_split(x, y, test_size = 0.2)

In [214]:
x_train.shape

(379, 32)

In [215]:
x_test.shape

(95, 32)

In [216]:
scaler=StandardScaler()
x_train=scaler.fit_transform(x_train)
x_test=scaler.transform(x_test)

C:\Users\pallab\Anaconda3\lib\site-packages\sklearn\preprocessing\data.py:645: DataConversionWarning: Data with input dtype int32, int64 were all converted to float64 by StandardScaler.
  return self.partial_fit(X, y)
C:\Users\pallab\Anaconda3\lib\site-packages\sklearn\base.py:464: DataConversionWarning: Data with input dtype int32, int64 were all converted to float64 by StandardScaler.
  return self.fit(X, **fit_params).transform(X)
C:\Users\pallab\Anaconda3\lib\site-packages\ipykernel_launcher.py:3: DataConversionWarning: Data with input dtype int32, int64 were all converted to float64 by StandardScaler.
  This is separate from the ipykernel package so we can avoid doing imports until

In [217]:
y_train=y_train.to_numpy()
y_test=y_test.to_numpy()

In [218]:
x_train = x_train.reshape(379,32,1)
x_test = x_test.reshape(95,32,1)

In [219]:
epochs = 20
model = Sequential()
model.add(Conv1D(32,2,activation='relu',input_shape=(32,1)))
model.add(BatchNormalization())
model.add(Dropout(0.2))

model.add(Conv1D(64,2,activation='relu'))
model.add(BatchNormalization())
model.add(Dropout(0.2))

model.add(Flatten())
model.add(Dense(64,activation='relu'))
model.add(Dropout(0.2))

model.add(Dense(1,activation='sigmoid'))

In [220]:
model.summary()

Model: "sequential_8"
_________________________________________________________________
Layer (type)                 Output Shape              Param #
=================================================================
conv1d_16 (Conv1D)           (None, 31, 32)            96
_________________________________________________________________
batch_normalization_16 (Batc (None, 31, 32)            128
_________________________________________________________________
dropout_24 (Dropout)         (None, 31, 32)            0
_________________________________________________________________
conv1d_17 (Conv1D)           (None, 30, 64)            4160
_________________________________________________________________
batch_normalization_17 (Batc (None, 30, 64)            256
_________________________________________________________________
dropout_25 (Dropout)         (None, 30, 64)            0
_________________________________________________________________
flatten_8 (Flatten)          (None, 1920)              0
_________________________________________________________________
dense_16 (Dense)             (None, 64)                122944
_________________________________________________________________
dropout_26 (Dropout)         (None, 64)                0
_________________________________________________________________
dense_17 (Dense)             (None, 1)                 65
=================================================================
Total params: 127,649
Trainable params: 127,457
Non-trainable params: 192
_________________________________________________________________

In [221]:
model.compile(optimizer=Adam(lr=0.0005),loss='binary_crossentropy',metrics=['accuracy'])

In [222]:
history=model.fit(x_train ,y_train, epochs=epochs,validation_data=(x_test,y_test),verbose=1)

Train on 379 samples, validate on 95 samples
Epoch 1/20
379/379 [==============================] - 5s 13ms/sample - loss: 0.7580 - accuracy: 0.5858 - val_loss: 0.6661 - val_accuracy: 0.7474
Epoch 2/20
379/379 [==============================] - 0s 1ms/sample - loss: 0.5631 - accuracy: 0.7546 - val_loss: 0.6438 - val_accuracy: 0.7579
Epoch 3/20
379/379 [==============================] - 0s 914us/sample - loss: 0.4653 - accuracy: 0.8021 - val_loss: 0.6350 - val_accuracy: 0.7368
Epoch 4/20
379/379 [==============================] - 0s 1ms/sample - loss: 0.4736 - accuracy: 0.7757 - val_loss: 0.6294 - val_accuracy: 0.6737
Epoch 5/20
379/379 [==============================] - 0s 1ms/sample - loss: 0.4382 - accuracy: 0.8047 - val_loss: 0.6221 - val_accuracy: 0.6421
Epoch 6/20
379/379 [==============================] - 0s 922us/sample - loss: 0.3369 - accuracy: 0.8602 - val_loss: 0.6255 - val_accuracy: 0.6000
Epoch 7/20
379/379 [==============================] - 0s 931us/sample - loss: 0.3274 - accuracy: 0.8786 - val_loss: 0.6318 - val_accuracy: 0.5789
Epoch 8/20
379/379 [==============================] - 0s 922us/sample - loss: 0.3159 - accuracy: 0.8865 - val_loss: 0.6289 - val_accuracy: 0.5789
Epoch 9/20
379/379 [==============================] - 0s 878us/sample - loss: 0.2992 - accuracy: 0.8786 - val_loss: 0.6203 - val_accuracy: 0.6316
Epoch 10/20
379/379 [==============================] - 0s 876us/sample - loss: 0.2846 - accuracy: 0.8918 - val_loss: 0.6284 - val_accuracy: 0.6000
Epoch 11/20
379/379 [==============================] - 0s 1ms/sample - loss: 0.2629 - accuracy: 0.8918 - val_loss: 0.6336 - val_accuracy: 0.5789
Epoch 12/20
379/379 [==============================] - 0s 947us/sample - loss: 0.2039 - accuracy: 0.9182 - val_loss: 0.6250 - val_accuracy: 0.5895
Epoch 13/20
379/379 [==============================] - 0s 847us/sample - loss: 0.2568 - accuracy: 0.9077 - val_loss: 0.6237 - val_accuracy: 0.6000
Epoch 14/20
379/379 [==============================] - 0s 876us/sample - loss: 0.2106 - accuracy: 0.9261 - val_loss: 0.6264 - val_accuracy: 0.6211
Epoch 15/20
379/379 [==============================] - 0s 753us/sample - loss: 0.1967 - accuracy: 0.9314 - val_loss: 0.6086 - val_accuracy: 0.6105
Epoch 16/20
379/379 [==============================] - 0s 694us/sample - loss: 0.1960 - accuracy: 0.9314 - val_loss: 0.6086 - val_accuracy: 0.6526
Epoch 17/20
379/379 [==============================] - 0s 670us/sample - loss: 0.1667 - accuracy: 0.9446 - val_loss: 0.5931 - val_accuracy: 0.6737
Epoch 18/20
379/379 [==============================] - 0s 710us/sample - loss: 0.1736 - accuracy: 0.9446 - val_loss: 0.5791 - val_accuracy: 0.6632
Epoch 19/20
379/379 [==============================] - 0s 854us/sample - loss: 0.1390 - accuracy: 0.9604 - val_loss: 0.5506 - val_accuracy: 0.7158
Epoch 20/20
379/379 [==============================] - 0s 720us/sample - loss: 0.1631 - accuracy: 0.9314 - val_loss: 0.5323 - val_accuracy: 0.7158