In [242]:
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn import tree
from sklearn.naive_bayes import GaussianNB
from sklearn.neighbors import KNeighborsClassifier
from sklearn.svm import SVC
from sklearn.metrics import accuracy_score
from sklearn import preprocessing
import seaborn as sns

In [243]:
data= pd.read_csv("G:/Datasets/Dataset_for_Classification.csv")
data.head(10)

,Age,Attrition,BusinessTravel,DailyRate,Department,DistanceFromHome,Education,EducationField,EmployeeCount,EmployeeNumber,...,PerformanceRating,RelationshipSatisfaction,StockOptionLevel,TotalWorkingYears,TrainingTimesLastYear,WorkLifeBalance,YearsAtCompany,YearsInCurrentRole,YearsSinceLastPromotion,YearsWithCurrManager
0,41,Yes,Travel_Rarely,1102,Sales,1,2,Life Sciences,1,1,...,3,1,0,8,0,1,6,4,0,5
1,49,No,Travel_Frequently,279,Research & Development,8,1,Life Sciences,1,2,...,4,4,1,10,3,3,10,7,1,7
2,37,Yes,Travel_Rarely,1373,Research & Development,2,2,Other,1,4,...,3,2,0,7,3,3,0,0,0,0
3,33,No,Travel_Frequently,1392,Research & Development,3,4,Life Sciences,1,5,...,3,3,0,8,3,3,8,7,3,0
4,27,No,Travel_Rarely,591,Research & Development,2,1,Medical,1,7,...,3,4,1,6,3,3,2,2,2,2
5,32,No,Travel_Frequently,1005,Research & Development,2,2,Life Sciences,1,8,...,3,3,0,8,2,2,7,7,3,6
6,59,No,Travel_Rarely,1324,Research & Development,3,3,Medical,1,10,...,4,1,3,12,3,2,1,0,0,0
7,30,No,Travel_Rarely,1358,Research & Development,24,1,Life Sciences,1,11,...,4,2,1,1,2,3,1,0,0,0
8,38,No,Travel_Frequently,216,Research & Development,23,3,Life Sciences,1,12,...,4,2,0,10,2,3,9,7,1,8
9,36,No,Travel_Rarely,1299,Research & Development,27,3,Medical,1,13,...,3,2,2,17,3,2,7,7,7,7

In [244]:
label_encoder =  preprocessing.LabelEncoder()
data['BusinessTravel'] = label_encoder.fit_transform(data['BusinessTravel'])
data['Attrition'] = label_encoder.fit_transform(data['Attrition'])
data['Department'] = label_encoder.fit_transform(data['Department'])
data['EducationField'] = label_encoder.fit_transform(data['EducationField'])
data['Gender'] = label_encoder.fit_transform(data['Gender'])
data['JobRole'] = label_encoder.fit_transform(data['JobRole'])
data['MaritalStatus'] = label_encoder.fit_transform(data['MaritalStatus'])
data['OverTime'] = label_encoder.fit_transform(data['OverTime'])

In [245]:
target =data['Attrition']
print(pd.value_counts(target))

0    1233
1     237
Name: Attrition, dtype: int64

In [246]:
#non_Attrition=data[data['Attrition']==0]
#Attrition=data[data['Attrition']==1]

In [247]:
#non_Attrition=non_Attrition.sample(Attrition.shape[0])
#non_Attrition.shape

In [248]:
#data=Attrition.append(non_Attrition,ignore_index=True)
#data

In [249]:
seed = 5
train_data, test_data = train_test_split(data, test_size=0.2, random_state=seed)

In [250]:
train_x = train_data.drop(columns=['Attrition'],axis=1)
train_y = train_data['Attrition']

In [251]:
std_train_x1=train_x
#std_train_x1=preprocessing.scale(train_x)

In [252]:
test_x = test_data.drop(columns=['Attrition'],axis=1)
test_y = test_data['Attrition']

In [253]:
std_test_x1=test_x
#std_test_x1=preprocessing.scale(test_x)

In [254]:
from xgboost import XGBClassifier
classifier=XGBClassifier()
classifier.fit(std_train_x1,train_y)
predictions_train =classifier.predict(std_train_x1)
acc=accuracy_score(train_y, predictions_train)
print('\nTraining Accuracy :', acc)
predictions_test = classifier.predict(std_test_x1)
accc=accuracy_score(test_y, predictions_test)
print('\nTesting Accuracy :', accc)

Training Accuracy : 0.939625850340136

Testing Accuracy : 0.8843537414965986